body {
	background-color: green;
	width: 200px
	;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

h1, p {
	color: silver;
}

div {

	text-align: justify;
	text-justify: inter-word;
}