@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Mystery+Quest&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

body {
  background-image: url("https://i.imgur.com/ZlgZaHS.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center right;
}

h1, h2, h3 {

}

p {

}

img {

}


article {
  border-top: green;
}

img {
width: 200px;
}


