body{
	background-image: url("https://i.imgur.com/ZlgZaHS.png");
	background-size: cover;
}

h1 {
	text-align: center;
	text-shadow: 2px 2px #ff0000;
	color: rgb(255,0,0);
	font-size: 50px;
}

p {
	text-align: center;
	font-size: 20px;
	font-style: sans-serif;
	font-style: bold;
	color: rgb(0,0,0);
}

.img-cheetah {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
  width: 15%;
}

.img-giraffe {
  float: left;
  width: 300px;
  border: 3px color: green;
  padding: 10px;
}

.img-baboon {
  float: left;
  width: 300px;
  border: 3px color: green;
  padding: 10px;
}

.img-buffalo {
  float: left;
  width: 300px;
  border: 3px color: green;
  padding: 10px;
}

h2{
	text-align: justify-all;
	color: rgb(0,0,0);
}

hr{
width: 1500px;
color: black;
}

